
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To Glo Media!</div>
        <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
        <h3 class="page-header-text mb-5">We are a platform that connects you, to the best recommended service providers in the market today.</h3>
      
      </div>
    </div>
  </header>
